{% extends "::base.html.twig" %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block title %}Cafe critic{% endblock %}

{% block body %}
    {% block header %}
        <div class="container">
            {#-------------Header-------------#}
            <div class="col-lg-3 col-md-3">
                <a href="{{ path('app_main_index') }}">Cafe critic</a>
            </div>
            <div class="col-lg-offset-3 col-lg-3">
                <form action="{{ path('app_main_finddata') }}" method="post"
                      class="form-inline my-2 my-lg-0">
                    <input id="findData" name="data" class="form-control mr-sm-2" type="text"
                           placeholder="Введите..." aria-label="Search">
                    <button id="search_btn" class="search-btn btn btn-outline-success my-2 my-sm-0"
                            type="submit" onClick="return empty()">
                        <span class="glyphicon glyphicon-search"></span></button>
                </form>
            </div>
            <div class="col-lg-3">
                {% if app.user %}
                    <p>Hello,</p><a href="#">User <span class="caret"></span></a>
                    <a href="{{ path('app_main_create') }}">Add new place</a>
                {% else %}
                    <a href="#" class="btn btn-primary">Sign up</a>
                    <a href="#" class="btn btn-primary">Log in</a>
                {% endif %}

            </div>
            {#-------------END Header-------------#}

            {#-------------Content-------------#}

            <div class="col-lg-12">

            </div>
            <div class="col-md-12">

                <hr>
                <h3>Add picture</h3><hr>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <div class="form-group">
                    <button type="submit" class="btn-default btn">Add</button>
                </div>
                {{ form_end(form) }}
            </div>
            {#-------------END Content-------------#}
        </div>
    {% endblock header %}
    {% block footer %}
        <div class="col-lg-4 col-md-4">
            <span class="copyright">&#169; {% trans %}Cafe critic{% endtrans %} 2017</span>
        </div>
    {% endblock footer %}
{% endblock %}
