{% extends "::base.html.twig" %}

{% block title %}Cafe critic{% endblock %}

{% block body %}
    {% block header %}
        <div class="container">
            {#-------------Header-------------#}
            <div class="col-lg-3 col-md-3">
                <a href="{{ path('app_main_index') }}">Cafe critic</a>
            </div>
            <div class="col-lg-offset-3 col-lg-3">
                <form action="{{ path('app_main_finddata') }}" method="post"
                      class="form-inline my-2 my-lg-0">
                    <input id="findData" name="data" class="form-control mr-sm-2" type="text"
                           placeholder="Введите..." aria-label="Search">
                    <button id="search_btn" class="search-btn btn btn-outline-success my-2 my-sm-0"
                            type="submit" onClick="return empty()">
                        <span class="glyphicon glyphicon-search"></span></button>
                </form>
            </div>
            <div class="col-lg-3">
                {% if app.user %}
                    <p>Hello,</p><a href="#">User <span class="caret"></span></a>
                    <a href="{{ path('app_main_create') }}">Add new place</a>
                {% else %}
                    <a href="#" class="btn btn-primary">Sign up</a>
                    <a href="#" class="btn btn-primary">Log in</a>
                {% endif %}

            </div>
            {#-------------END Header-------------#}

            {#-------------Content-------------#}

            <div class="col-lg-12">
                <h2>Search result</h2><hr>
                {% if result %}
                    {% for search_cafe in result %}
                        {% if search_cafe.name != null  %}
                            <a href="{{ path('app_main_cafepage', {id: search_cafe.id}) }}">
                                {{ search_cafe.name }}</a>
                            <img src="{{ asset(cafe_image_directory ~ search_cafe.picture) }}">
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <h4>По запросу <strong>{{ data }}</strong> ничего не найдено</h4>
                {% endif %}
            </div>
            {#-------------END Content-------------#}
        </div>
    {% endblock header %}
    {% block footer %}
        <div class="col-lg-4 col-md-4">
            <span class="copyright">&#169; {% trans %}Cafe critic{% endtrans %} 2017</span>
        </div>
    {% endblock footer %}
{% endblock %}
